body{


    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.banner_container{
    width: 90%;
    margin: auto;
}
.design{

    display: flex;
    align-items: center;
}
.mini_container{
    width: 50%;
}
.mini_container img{
    width: 70%;
}
.banner_image_container{
    text-align: center;
}
.orange{
    color: orange;

}
p{

font-size: 16px;


}
/* .img-width img{
    width: 100%;
  
} */

.img-width img{
    width:50%;
}
.img-width img{
    width: 80%;
}

.one{
    font-size: 35px;
    border-left: 5px solid red;
    padding: 0 0 0 10px;
}

.button{
text-decoration: none;
background-color: #FF5959;
color: white;
border-radius: 3px;
padding: 12px 30px;
font-size: 16px;
}
.align{
    text-align: center;
}
.flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 30px;
}

.common_size{
    box-shadow: 1px 1px 10px gray;
    
    padding: 10px 20px;
    border-radius: 10px;background-color: rosybrown;
}

.common_size img{
    width:70%;
}
.image{
    display: flex;

    width: 400px;;
}